/**
 * Created with IntelliJ IDEA.
 * User: rnugraha
 * Date: 31/05/14
 * Time: 00:58
 * To change this template use File | Settings | File Templates.
 */

body {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    background: ghostwhite;
}

h1 {
    margin-top: 2em;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.horizontalBarChart {
    border: solid 1px grey;
    background: white;
}

.horizontalBarChart rect {
    fill: #4577b7;
}

.horizontalBarChart rect:hover {
    fill: #b74c45;
}

.horizontalBarChart text {
    fill: black;
    font: 11px sans-serif;
    text-anchor: end;
}

.arc path {
    stroke: #fff;
    stroke-width: 1
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 1px grey solid;
    border-radius: 3px;
    pointer-events: none;
    font-size: .95em;
}

.bar rect {
    fill: #4577b7;
    shape-rendering: crispEdges;
    stroke-opacity:0.9;
}

.bar2 rect {
    fill: #b74c45;
    shape-rendering: crispEdges;
    fill-opacity: 0.4;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


