/**
 * Created with IntelliJ IDEA.
 * User: rnugraha
 * Date: 31/05/14
 * Time: 00:58
 * To change this template use File | Settings | File Templates.
 */

body {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}
.axis text {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.horizontalBarchart {
    border: solid 1px grey;
}
.horizontalBarchart rect {
    fill: lightseagreen;
}
.horizontalBarchart rect:hover {
    fill: orange;
}
.horizontalBarchart text {
    fill: black;
    font: 11px sans-serif;
    text-anchor: end;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 1px grey solid;
    border-radius: 3px;
    pointer-events: none;
    font-size: .95em;
}